<h1>OPTO Financial</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
Welcome to Opto! Click on the link below to activate your account:
</p>

<%= link_to "Activate", controller: :user_authentication, action: :edit, id: @user.activation_token, email: @user.email %>
